{% extends "base_nav.html" %} 
{% block title %} skade {% endblock %} 
{% block head %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropzone/dropzone.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropzone/basic.min.css') }}">
{% endblock %}
{% block content %}



<section class="section">
    <h1 id="headline" class="title has-text-centered">Skade</h1>
    <div class="container">
        <div class="columns is-centered">
            <form enctype="multipart/form-data" method="POST">
                {{ form.hidden_tag() }}
                <div class="dropzone mb-2" id="skadeDropzone" style="width: 400px;">
                    <div class="dz-message needsclick">
                        <button type="button" class="dz-button">
                            Drop files here or click to upload.
                        </button>
                    </div>
                </div>
                <div>
                    <button type="button" class="button" onclick="toggleOptions()">
                        Show options
                    </button>
                    {{ form.submit(class_="button is-primary") }}
                </div>
                <div id="options" class="container is-hidden">
                    <div class="box mt-3">
                        <div class="field">
                            <div class="control">
                                {{ form.yara_scan() }}
                                {{ form.yara_scan.label }}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% block scripts %}
    <script src="{{ url_for('static', filename='js/vendor/jquery/jquery.min.js') }}"> </script>
    <script src="{{ url_for('static', filename='js/vendor/dropzone/dropzone_config.js') }}"> </script>
    <script src="{{ url_for('static', filename='js/vendor/dropzone/dropzone.min.js') }}"> </script>
    <script src="{{ url_for('static', filename='js/upload/showoptions.js') }}"> </script>
    <script>
        Dropzone.autoDiscover = false;
    </script>
{% endblock %}

  
</section>
{% endblock %}