{% extends "base_nav.html" %} 
{% block title %} skade {% endblock %} 
{% block head %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropzone/dropzone.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropzone/basic.min.css') }}">
{% endblock %}
{% block content %}



<section class="section">
    <h1 id="headline" class="title has-text-centered">Skade</h1>
    <div class="container">
        <div class="columns is-centered">
            <div id="dropzone mb-5" style="width: 400;">
                <form action="/upload" class="dropzone needsclick" id="file-dropzone">
                    <div class="dz-message needsclick">
                        <button type="button" class="dz-button">
                        Drop files here or click to upload.</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% block scripts %}
    <script src="{{ url_for('static', filename='js/dropzone/dropzone_config.js') }}"> </script>
    <script src="{{ url_for('static', filename='js/dropzone/dropzone.js') }}"> </script>
{% endblock %}

  
</section>
{% endblock %}