{% extends "base.html" %}
{% block navbar %}
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <span class="navbar-item" href="#">
        Skade - Malware Analysis
      </span>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-end">

       <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <i class="fa fa-user">
            {{ current_user.username }}
          </i>
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            <span class="mr-1">Logout</span>
            <i class="fa fa-sign-out"> </i>
          </a>
        </div>
      </div>
    </div>
  </nav>
{% endblock %}