{% extends "base.html" %}
{% block navbar %}
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <span class="navbar-item" href="#">
        Skade - Malware Analysis
      </span>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <form action="/logout" method="post">
              <button class="button" type="submit" name="logout">
              <span class="icon">
                <i class="fa fa-sign-out"></i>
              </span>
              </button>
            </form>
            </a>
          </p>
        </div>
      </div>
    </div>
  </nav>
{% endblock %}